# Ignore node_modules
node_modules/
client/node_modules/
server/node_modules/

# Ignore env variables
.env
server/.env
client/.env

# Ignore builds and system files
client/dist/
dist/
.DS_Store
Thumbs.db
